<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="exemple1.css">
</head>
<body>
    <div id=demo>
        <button v-on:click="show=!show">cliquez ici</button>
        <transition name="fade">
            <p v-if="show"> Bonjour </p>
        </transition>
    </div>

    <div id="app-1">
        <p>{{ message }}</p>
    </div>

    
    <div id="app-2">
        <span v-bind:title='message'>Passez votre souris sur moi</span>
    </div>

    <div id="app-3">
        <p v-if='seen'> Maintenant vous me voyez</p>    
    </div>

    <div id="app">
        <h2>{{ product }} are in stock.</h2>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="js/main.js"></script>
</body>
</html>